In [1]:
import pandas as pd
df = pd.read_csv('a2nyc_weather.csv')
df
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [2]:
df['Temperature'].std()

7.639315400279415

std() repesent comfort

In [3]:
df['EST'][df['Temperature'].max()]

KeyError: 50

In [ ]:
df['EST'][df['Events']== 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [ ]:
a = df['WindSpeedMPH'].sum()
a

193.0

In [ ]:
b = a/30
b

6.433333333333334

In [ ]:
a = df['WindSpeedMPH'].mean()
a

6.892857142857143

In [ ]:
df.fillna(0, inplace=True)
a = df['WindSpeedMPH'].mean()
a

6.225806451612903