In [43]:
import pandas as pd 
df = pd.read_csv('e16Melbourne_housing_FULL.csv')

In [44]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

data cleaning

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [46]:
df = df.fillna(
    {
        'Price': 0,
        'Bathroom' : 0,
        'Distance':0,
        'Postcode':0,
        'Bedroom2':0,
        'Bathroom':0,
        'Car' : 0,
        'Landsize':0,
        'BuildingArea':0,
        'YearBuilt':0,
        'CouncilArea':'0',
        'Lattitude' :0,
        'Longtitude' :0,
        'Regionname': '0',
        'Propertycount' :0.0

    }
)

In [47]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [49]:
df['Suburb'] = le.fit_transform(df['Suburb'])
df['Address'] = le.fit_transform(df['Address'])
df['Type'] = le.fit_transform(df['Type'])
df['Method'] = le.fit_transform(df['Method'])
df['SellerG'] = le.fit_transform(df['SellerG'])
df['Date'] = le.fit_transform(df['Date'])
df['CouncilArea'] = le.fit_transform(df['CouncilArea'])
df['Regionname'] = le.fit_transform(df['Regionname'])
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,29458,2,0,0.0,6,155,58,2.5,3067.0,...,1.0,1.0,126.0,0.0,0.0,32,-37.80140,144.99580,3,4019.0
1,0,32512,2,0,1480000.0,2,33,60,2.5,3067.0,...,1.0,1.0,202.0,0.0,0.0,32,-37.79960,144.99840,3,4019.0
2,0,15389,2,0,1035000.0,2,33,63,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,32,-37.80790,144.99340,3,4019.0
3,0,9768,3,2,0.0,7,296,63,2.5,3067.0,...,2.0,1.0,0.0,0.0,0.0,32,-37.81140,145.01160,3,4019.0
4,0,25128,3,0,1465000.0,5,33,64,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,32,-37.80930,144.99440,3,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,348,5862,4,0,1480000.0,0,152,38,6.3,3013.0,...,1.0,3.0,593.0,0.0,0.0,17,-37.81053,144.88467,7,6543.0
34853,348,16982,2,0,888000.0,5,321,38,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,17,-37.81551,144.88826,7,6543.0
34854,348,7350,2,1,705000.0,2,152,38,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,17,-37.82286,144.87856,7,6543.0
34855,348,5421,3,0,1140000.0,5,370,38,6.3,3013.0,...,0.0,0.0,0.0,0.0,0.0,17,0.00000,0.00000,7,6543.0
34856,348,17743,2,0,1020000.0,0,276,38,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,17,-37.81810,144.89351,7,6543.0

In [50]:
from sklearn.model_selection import train_test_split
x = df.drop(['Price'], axis='columns')
y = df['Price']
x_train, x_test, y_train, y_test= train_test_split(x, y , test_size=0.2, random_state=2)

In [51]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)
reg.score(x_test, y_test)

0.16740774541759418

In [52]:
reg.score(x_train, y_train)

0.17756552747731802