In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('e3test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [18]:
x = df['math']
y = df['cs']

In [19]:
#first step
m = 0
c = 0
rate = 0.0001
n = int(len(x))
itreation = 100

#2nd step
for i in range(itreation):
    y_pred = (m*x) + c

    dave_m = -(2/n)*sum(x*(y-y_pred))
    dave_c = -(2/n)*sum(y-y_pred)

    m = m-(rate*dave_m)
    c = c-(rate*dave_c)
print("m = ",m)
print("c = ", c)

m =  1.0445228751752675
c =  0.01691985520723526

In [20]:
x =int(input("math"))
y = (m*x)+c
print('math', x)
print('cs', y)

math 66
cs 68.9554296167749